body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: white;
    min-height: 1500px;
    background-image: url('Images/pingouin.png'), url('Images/feuilles.png');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, scroll;
    background-position: center top, 0 0;
}

h1.titre {
    color: purple;
}

p.intro {
    font-style: italic;
}