body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding: 10px;
    background-image: url('../Images/pingouin.png');
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    min-height: 150vh;
}

section {
    background-color: lightcoral;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    opacity: 75%;
}

article {
    margin: 30px;
    background-image: url('../Images/pingouin.png');
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    opacity: 75%;
}


h1 {
    color: purple;
}

h2, cite, p1 {
    color: white;
}